streamlit>=1.18
pandas
numpy
scikit-learn
shap
xgboost
plotly
dill
scikit-learn==1.6.1
matplotlib
python-pptx

fastapi
uvicorn[standard]
joblib
python-multipart  # para subir CSV por HTTP
pytest






